
.main-content{

    display: flex;
    /* Vertical alignment */
    align-items: center;
    
    /* Horizontal alignment */
    justify-content: center;

    flex-direction: column;

    image-rendering: pixelated;

    background-image: url(../img/background.png);
    background-repeat: repeat;

    height: 100vh;
}

.logo{
    text-align: center;
    font-size: 64px;
    
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 6px;

    filter: drop-shadow(3px 3px 0 gray);
}

.logo img{
    width: 72px;
    height: 72px;
    image-rendering: pixelated;

    filter: drop-shadow(2px 2px 0 gray);
}

.links{
    min-width: 320px;
    padding: 9px;
    margin: 8px;
    gap: 16px;
    display: flex;
    flex-direction: row;

    background-color: rgb(228, 222, 246);
    image-rendering: pixelated;
    border: 6px solid;
    border-image: url(../img/border.png) 2 stretch;
    text-decoration: none;
    filter: drop-shadow(8px 8px 0 gray);

    transition-duration: 0.32s;
}

.links:hover{
    transform: translate(-3px, -3px);
    filter: drop-shadow(16px 11px 0 rgb(150, 150, 150));
}

.links img{
    width: 48px;
    filter: drop-shadow(6px 6px 0 gray);
}

.links p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}